html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.tar {
  text-align: right !important; }

body {
  margin: 0;
  background-color: #f7f7f7 !important; }

#loader {
  display: block;
  margin: auto;
  width: 400px;
  margin-top: 100px;
  stroke-color: red; }

.navbar.navbar-default {
  background-color: #fff; }

textarea {
  resize: none; }

.profile-picture {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 50%; }
  .profile-picture.small {
    width: 60px;
    height: 60px; }

.moods-selector {
  height: 90px; }

.moods-list {
  margin-bottom: 10px; }

.mood-selector {
  width: 50px;
  opacity: .5;
  cursor: pointer;
  transition: opacity .3s; }
  .mood-selector.selected, .mood-selector:hover {
    opacity: 1; }
  .mood-selector.select {
    cursor: default; }

.selected-mood {
  text-align: right; }
  .selected-mood img {
    width: 80px; }

.single-post {
  margin-bottom: 20px;
  background-color: #fff;
  border: solid 1px #d1d1d1;
  box-shadow: 1px 1px 2px 0 #d1d1d1; }
  .single-post header {
    padding: 20px 40px;
    background-color: #f7f7f7;
    border-bottom: solid 1px #d1d1d1; }
  .single-post footer {
    padding: 10px 40px;
    background-color: #f7f7f7;
    border-top: solid 1px #d1d1d1; }
  .single-post h3 {
    margin-top: 0; }
  .single-post h3, .single-post h4 {
    font-weight: 300; }
  .single-post .content {
    padding: 20px 40px; }
  .single-post .mood h3 {
    text-transform: uppercase;
    color: #4a90e2; }
  .single-post .mood img {
    width: 60px;
    height: 60px; }
