html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.tar {
  text-align: right !important; }

body {
  margin: 0;
  background-color: #fafafa !important; }

#loader {
  display: block;
  margin: auto;
  width: 400px;
  margin-top: 100px;
  stroke-color: red; }

.navbar.navbar-default {
  background-color: #fff; }

.navbar-default .navbar-nav > .active > a.logo {
  max-width: 200px;
  background-color: transparent; }
  .navbar-default .navbar-nav > .active > a.logo img {
    width: 100%; }

.aside {
  background-color: #FFF;
  border: solid 1px #d7d7d7;
  box-shadow: 1px 1px 2px 0 #d7d7d7; }

.greetings {
  padding: 5px;
  color: #fff;
  background-color: #4E93E0; }

form.well {
  background-color: #FFF; }
  form.well textarea.form-control, form.well textarea {
    resize: none;
    border-radius: 5px;
    background-color: #fafafa; }
  form.well .send-moodlr {
    padding-left: 30px;
    border-radius: 3px;
    background-color: #4a90e2;
    border: none;
    position: relative;
    color: #fff; }
    form.well .send-moodlr:before {
      content: '';
      background-image: url("/images/moods/funny.svg");
      background-color: #fff;
      position: absolute;
      left: 5px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-size: cover; }

.profile-picture {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 50%;
  display: block;
  margin: auto; }
  .profile-picture.small {
    width: 60px;
    height: 60px;
    width: 100%; }

h2 {
  color: #4a90e2; }

.moods-selector {
  height: 90px; }

.moods-list {
  margin-bottom: 10px; }

.mood-selector {
  position: relative;
  top: 10px;
  width: 40px;
  opacity: .5;
  cursor: pointer;
  transition: opacity .3s; }
  .mood-selector.selected, .mood-selector:hover {
    opacity: 1; }
  .mood-selector.select {
    cursor: default; }

.selected-mood {
  text-align: right; }
  .selected-mood img {
    width: 80px; }

.single-post {
  margin-bottom: 20px;
  background-color: #fff;
  border: solid 1px #d7d7d7;
  box-shadow: 1px 1px 2px 0 #d7d7d7; }
  .single-post header {
    padding: 20px 40px;
    background-color: #fafafa;
    border-bottom: solid 1px #fafafa; }
    .single-post header p {
      font-size: 12px; }
  .single-post footer {
    padding: 10px 40px;
    background-color: #fafafa;
    border-top: solid 1px #d7d7d7; }
  .single-post h3 {
    color: #4a90e2;
    margin-top: 0;
    font-size: 18px;
    margin: 0; }
  .single-post h3, .single-post h4 {
    font-weight: 300;
    margin: 0; }
  .single-post .content {
    padding: 20px 40px; }
    .single-post .content p {
      color: #a1a1a1; }
  .single-post .mood h3 {
    text-transform: uppercase; }
  .single-post .mood img {
    width: 60px;
    height: 60px; }
  .single-post button.selected {
    color: #fa743e; }
