<template>
  <require from="./components/sinceDate"></require>
  <require from="./components/followButton"></require>
  <require from="./components/postsList"></require>

  <div class="row">
    <div class="col-md-3">
      <div>
        <img src="${user.img_url || '/images/moods/cool.svg'}" alt="Profile Picture" class="profile-picture">
      </div>
      <h2>@${user.pseudo}</h2>
      <p>${user.first_name} ${user.last_name}</p>
      <p>${user.description}</p>
      <p><a href="mailto:${user.email}">${user.email}</a></p>
      <p><since-date date.bind="user.created_at"></since-date></p>
      <p if.bind="isMe">
        <a route-href="route: account-edit">Edit my account</a>
      </p>
      <p if.bind="!isMe">

        <follow-button user1.bind="me.id" user2.bind="user.id">Follow</follow-button>
      </p>
    </div>
    <div class="col-md-9">
      <posts-list posts.bind="posts"></posts-list>
    </div>
  </div>
</template>
