<template>
  <section>
    <div class="row">
      <!-- User information -->
      <div class="col-md-3">
        <img src="${user.img_url || '/images/moods/cool.svg'}" alt="Profile Picture" class="profile-picture">
        <h2>@${user.pseudo}</h2>
        <p>${user.first_name} ${user.last_name}</p>
      </div>
      <div class="well col-md-9">
        <!-- Send a new post -->
        <form role="form" submit.delegate="submitPost()">
          <div class="row moods-selector">
            <div class="col-md-9 moods-list">
              <img repeat.for="mood of moods"
              src="/images/moods/${mood.img_url}.svg" alt="${mood.name}"
              class="mood-selector ${(selectedMood && selectedMood.id == mood.id) ? 'selected' : ''}"
              click.delegate="selectMood($index)">
            </div>
            <div if.bind="selectedMood" class=" col-md-3 selected-mood">
              ${selectedMood.name}
              <img src="/images/moods/${selectedMood.img_url}.svg" alt="${selectedMood.name}">
            </div>
          </div>
          <div class="form-group">
            <textarea value.bind="content" class="form-control" rows="3"></textarea>
            <div>${content.length}/280</div>
          </div>
          <button type="submit" class="btn btn-default">Post</button>
        </form>
      </div>
    </div>
    <!-- Timeline -->

  </section>
</template>
