<template>
  <section>
    <div class="row">
      <div class="well col-md-3">
        <h2>${user.pseudo}</h2>
        <p>${user.first_name} ${user.last_name}</p>
        <p>Joined ${user.since}</p>
      </div>
      <div class="well col-md-9">
        <form role="form" submit.delegate="submitPost()">
          <div class="form-group">
            <textarea value.bind="content" class="form-control" rows="3"></textarea>
            <div>${content.length}/280</div>
          </div>
          <button type="submit" class="btn btn-default">Post</button>
        </form>
      </div>
    </div>

  </section>
</template>
