<template>
  <form role="form" submit.delegate="login()">
    <div class="form-group">
      <label for="pseudo">Pseudo</label>
      <input type="text" value.bind="user.pseudo" class="form-control" id="pseudo" placeholder="Pseudo">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" value.bind="user.password" class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Login</button>
  </form>
  <p>No account? <a route-href="route: signup">Signup!</a></p>
  <hr>
  <div class="alert alert-danger" if.bind="loginError">${loginError}</div>
</template>
