<template>
  <div class="navbar navbar-default">
    <div class="container">
      <ul class="nav navbar-nav">
        <li repeat.for="row of router.navigation | authFilter: isAuthenticated" class="${row.isActive ? 'active' : ''}">
          <a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1.in" href.bind="row.href" class="logo"><img src="/images/logo.png" alt="${row.title}"></a>
        </li>
      </ul>

      <ul if.bind="!isAuthenticated" class="nav navbar-nav navbar-right">
        <li><a route-href="route: login">Login</a></li>
        <li><a route-href="route: signup">Signup</a></li>
      </ul>

      <ul if.bind="isAuthenticated" class="nav navbar-nav navbar-right">
        <li><a route-href="route: account; params.bind: { pseudo: pseudo }">${pseudo}</a></li>
        <li><a route-href="route: logout">Logout</a></li>
      </ul>
    </div>
  </div>
</template>
