.greetings {
  padding:5px;
  color: #fff;
  background-color: #4E93E0;
}
form.well {
  background-color: #FFF;
  textarea.form-control, textarea {
    resize: none;
    border-radius: 5px;
    background-color: $light-gray;
  }
  .send-moodlr {
    padding-left: 30px;
    border-radius: 3px;
    background-color: $blue;
    border: none;
    position: relative;
    color: #fff;
    &:before {
      content: '';
      background-image: url('/images/moods/funny.svg');
      background-color: #fff;
      position: absolute;
      left:5px;
      border-radius: 50%;
      width:20px;
      height:20px;
      background-size: cover;
    }
  }
}
