.profile-picture {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 50%;
  display: block;
  margin: auto;
  &.small {
    width: 60px;
    height: 60px;
  }
}
h2 {
  color: $blue;
}
