html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.tar {
  text-align: right !important;
}

@import "./variables.scss";

@import "./style.scss";
@import "./forms.scss";
@import "./users.scss";
@import "./posts.scss";
